<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Szakdoge</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/dist/output.css') }}">
</head>
<body class="bg-slate-800">
<div class="absolute h-[10%] w-1/4 top-[10%] left-1/2 grid place-items-center -translate-x-1/2 -translate-y-[10%]">
    <form action="/result" method="POST">
        <label for="link" class="text-neutral-300 text-xl">Gib link: </label>
        <input type="text" name="api_link" id="link"
               class="text-xl text-slate-800 bg-neutral-300 border rounded-md">
        <input type="submit" class="bg-neutral-300">
    </form>
</div>
</body>
</html>